*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #111827;
    width: 100vw;
    height: 100vh;
}


/* navigation bar */

nav{
    background: black;
    height: 70px;
    width: 100%;
    
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
label span{
    color: #EAB308;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}
nav ul li a{
    color: #9CA3AF;
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active{
    color: white;
    transition: .5s;
}

/* about me content */
.container {
    display: flex;
    justify-content: space-between;
}

.about-me-pic{
    width:40%;
    border: 1px solid yellow;
    float: left;
    margin-top: 15%;
    margin-left: 20%;
    border-radius: 10%;
    height: 70%;
    padding: 0;
}
img{
    display: flex;
    width: 90%;
    margin-left: 10%;
    border-radius: 10%;
}
.aboutme-content{
    width: 70%;
    float: right;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    margin-right: -70%;
    padding: 2%;
}
.aboutme-content h1{
    color: #F3F4F6;
    margin-bottom: 40px;
    margin-top: -60px;
    text-decoration: none;
    font-size: 42px;
    }
    .aboutme-content span{
        color: #EAB308;
    }
    .aboutme-content p{
        color: #6B7280;
        font-size: 18px;
        padding: auto;
        margin-bottom: 40px;
    }

    .aboutme-content .fa-brands{
        color: #1F2937;
        width: 7%;
        font-size: 20px;
        margin-bottom: -90px;
    }
