:root{
    --nav-height: 60px;
}
body{
    margin: 0;
    background: #111827;
    
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
    
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    height: var(--nav-height);
    padding: 0 20px;
    position: relative;
}
.nav h2{
    color: white;
    margin-left: 70px;
    font-size: 24px;
}
.nav h2 span{
    color: #EAB308;
}
.nav a{
    color: #9CA3AF;
    font-size: 16px;
   
}
.nav a:first-child{
    color: white;
}
.nav i{
    font-size: 1.4rem;
    padding: 0 10px;
    display: none;
    color: #EAB308;
}
.nav i:hover{
    background: white;
}
.nav .links a{
    text-decoration: none;
    padding: 5px;
}
.nav .links a:hover{
    color: #fff;
    background: #000;
}




#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.blog-heading h2{
    color: white;
    font-size: 38px;
    font-weight: bolder;
    margin-top: 0.1px;
}
.blog-heading h2 span{
  color: #EAB308;
  font-size: 38px;
  font-weight: bolder;
}
.blog-heading p{
    font-size: 1.8rem;
    color: darkgray;
    font-weight: 100;
    margin-top: 0.1px;
    margin-left: 20px;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    margin-top: 0.2px;
    flex-wrap: wrap;
    
}
 
.blog-box{
    width:350px;
    background-color: darkgray;
    border: 1px solid darkgray;
    margin: 20px 20px;
 
}
.blog-img{
    width:100%;
    height: auto;
}
.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #f33c3c;
    font-size: 0.6rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: #272727;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;
   
}
.blog-text div a{
    margin-left: 200px;
}


.blog-text a:hover{
    color: #c74242;
    transition: all ease 0.3s;
}
.fa-solid{
 
    
}
.fa-comment{
    
 
 
}
 
@media(max-width:1250px){
 
    .blog-box{
        width: 300px;
    }
} 
@media(max-width:1100px){
    .blog-box{
        width:70%;
    }
}
 
@media(max-width:550px){
   
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding:20px;
    }
}
 
