* {
    box-sizing: border-box;
    font-family: sans-serif;   
}

body{
    margin: 0;
    background: #111827
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    height: 60px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 100;

}
.nav h2{
    color: white;
    margin-left: 70px;
    font-size: 24px;
}
.nav h2 span{
    color: #EAB308;
}
.nav a{
    color: #9CA3AF;
    font-size: 16px;
   
}
.nav a:first-child{
    color: white;
}
.nav i{
    font-size: 1.4rem;
    padding: 0 10px;
    display: none;
    color: #EAB308;
}
.nav i:hover{
    background: white;
}
.nav .links a{
    text-decoration: none;
    padding: 5px;
}
.nav .links a:hover{
    color: #fff;
    background: #000;
}
@media only screen and (max-width: 620px){
    .nav i{
        display: block;
    }
    .links {
        position: absolute;
        display: none;
        flex-direction: column;
        top: 60px;
        background: black;
        left: 0;
        right: 0;
        border-top: 2px solid #aaa;
        
    }
    .responsive{
        display: flex;
    }
    .links a{
        color: darkgray;
    }
    
}


.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    margin-top: 14px; 
    display: flex;
    overflow-x: auto;
    position: relative;
    width: 100%;
    height: 50%;
    padding: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    
}
.slide {
    min-width: 100%;
    transition: transform 0.5s;
    flex: 0 0 auto;
    scroll-snap-align: start;
}
.arrow {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    font-size: 3em;
    cursor: pointer;
    color: white;
    font-weight: bolder;
}
.arrow-left {
    left: 10px;
}
.arrow-right {
    right: 10px;
}

.blog-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.blog-heading h2{
    color: white;
    font-size: 38px;
    font-weight: bolder;
    margin-top: 10px;
}
.blog-heading h2 span{
  color: #EAB308;
  font-size: 38px;
  font-weight: bolder;
}
.blog-heading p{
    font-size: 1.8rem;
    color: darkgray;
    font-weight: 100;
    margin-top: 0.1px;
    margin-left: 20px;
}

.blog-box{
    width:350px;
    flex-shrink: 0;
    background-color: white;
    
    margin-bottom: 80px;
    margin-right: 50px;
}

.blog-img{
    width:100%;
    height: 250px;
   
}

.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text{
    height: 2%;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: #272727;
}

.blog-text .blog-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-text .blog-actions a {
    color: #0f0f0f;
    margin-right: 12px; /* Added space between links */
}

.blog-text .blog-actions a:hover{
    color: #c74242;
    transition: all ease 0.3s;
}

@media(max-width:1250px){
   
    
    .blog-box{
        width: 300px;
    }
} 

@media(max-width:1100px){
    .blog-box{
        width:70%;
    }
}

@media(max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding:20px;
    }
}
 


