*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  body{
    background: #111827;
    width: 100%;
  }
  
  .container{
    display: flex;
  }
  
  nav{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #111827;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    transition: width 0.5s; /* Add transition */
  }
  
  .logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
  }
  
  .logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  
  .logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
  }

  a{
    margin-top: 30px;
    position: relative;
    color: white;
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
  }
  
  nav .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
  }
  
  .nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
  }
  
  a:hover{
    background: black;
  }
  
  .logout{
    position: absolute;
    bottom: 0;
  }
  
  .menu-button {
    display: none;
  }
  .logo{
    color: blue;
  }
  
  @media screen and (max-width: 768px) {
    nav {
      width: 100px; /* Reduce width */
    }
  
    .logo span, .nav-item {
      display: none; /* Hide text */
    }
  
    .menu-button {
      display: block;
    }
  }

  /* main section */

  .container{
    display: flex;
    width: 100%;
    
  }
  /* .text{
    width: 400%;
  } */
 .text h1{
    margin-top: 10%;
    font-size: 16px;
    
    
  }
  .container .box-one{
    border: 2px solid #009E52;
    width: 300px;
    height: 75px;
    margin-top: 10%;
  }
  .container .box-one h1, p{
    margin-left: 50%;
  }

  .container .box-two{
    border: 2px solid #009E52;
    width: 300px;
    height: 75px;
    margin-top: 10%;
    margin-left: 10%;
  }
  .container .box-three{
    border: 2px solid #009E52;
    width: 300px;
    height: 75px;
    margin-top: 10%;
    margin-left: 10%;
  }


  