@font-face {
	font-family: main;
	src: url("../fonts/roboto.ttf");
}

@font-face {
	font-family: headings;
	src: url("../fonts/clemente.ttf");
}

* {
	box-sizing: border-box;
	font-family: main, sans-serif;
}

html{
	margin: 0;
	padding: 0;
}

body {
	overflow: auto;
	margin: 0;
	padding: 0;
	background: var(--dark);
    font-family: main, sans-serif;
}

.greener {
	color: blue;
}

.divider {
	border-bottom: 1px solid #ffffff44;
	margin: 15px 0;
}

.green {
	color: green;
}

.align-center {
	text-align: center;
}

.fit-width {
	width: 100%;
}

main{
	padding: 0;
	margin: 0;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#side{
	width: 230px;
	background: #111827;
	height: 100vh;
	padding: 20px 10px;
	overflow-y: auto;
}

#side h1{
	margin: 0;
	padding: 10px;
}

#side #nav{
	display: flex;
	flex-direction: column;
}

#side #nav a{
	padding: 12px 20px;
	margin: 5px 0;
	text-decoration: none;
	color: #fff;
	border-radius: 10px;
	outline: none;
}

#side #nav .active{
	background: blue;
}

#side #nav a:hover{
	background: blue;
}

#side #nav a i{
	width: 20px;
	text-align: center;
	margin-right: 10px;
}

#content{
	width: calc(100vw - 230px);
	background: #111827;
	height: 100vh;
	overflow-y: auto;
	padding: 40px 20px;
}

#content .summary{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

#content .summary .item{
	border: 2px solid green;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 10px;
	padding: 30px;
	cursor: pointer;
	margin-bottom: 10px;
}


@media only screen and (max-width: 900px){
	#content .summary .item{
		width: 99%;
	}
}

#content .summary .item:hover{
	background: #004e2822;
}

#content .summary .item .icon{
	font-size: 40px;
	color: green;
}

#content .summary .item .details{
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 20px;
}

#content .summary .item .details strong{
	padding: 5px 10px;
}

#content h1,
#content h2{
	font-size: 20px;
	margin-bottom: 20px;
}

.bottom-container{
	display: flex;
	width: 100%;
}

.first-container{
	border: 0.0625rem solid black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 3.125rem;
	background: #009E52;
	background: #202027;
	margin-left: 22.5%;
	margin-top: 2%;
}

.first-container h1{
	margin-top: 3.5%;
	margin-left: 1%;
	color: white;
}

.first-container button{
	margin-top: 1%;
	margin-left: 50%;  
	color: white;
	background: black;
	width: 10%;
}

.second-container{
	border: 0.0625rem solid black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 5rem;
	background-color: #000000;
	margin-left: 22.5%;
	margin-top: 2%;
}

.second-container h1{
	margin-right: 30%;
}

.second-container p{
	margin-left: 10%;
}

@media screen and (max-width: 600px) {
    .first-container, .second-container {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .first-container button {
        width: 50%;
        margin-left: 25%;
    }
}
