:root{
    --nav-height: 60px;
  }
  body{
    margin: 0;
    background: #111827;
    
  }
  * {
    box-sizing: border-box;
    font-family: sans-serif;
    
  }
  .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    height: var(--nav-height);
    padding: 0 20px;
    position: relative;
  }
  .nav h2{
    color: white;
    margin-left: 70px;
    font-size: 24px;
  }
  .nav h2 span{
    color: #EAB308;
  }
  .nav a{
    color: #9CA3AF;
    font-size: 16px;
   
  }
  .nav a:first-child{
    color: white;
  }
  .nav i{
    font-size: 1.4rem;
    padding: 0 10px;
    display: none;
    color: #EAB308;
  }
  .nav i:hover{
    background: white;
  }
  .nav .links a{
    text-decoration: none;
    padding: 5px;
  }
  .nav .links a:hover{
    color: #fff;
    background: #000;
  }
  @media only screen and (max-width: 620px){
    .nav i{
        display: block;
    }
    .links {
        position: absolute;
        display: none;
        flex-direction: column;
        top: var(--nav-height);
        background: black;
        left: 0;
        right: 0;
        border-top: 2px solid #aaa;
        
    }
    .responsive{
        display: flex;
    }
    .links a{
        color: darkgray;
    }
    
  }
  

/* login content */

.container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;        
  transform: translate(-50%, -50%);
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15%;
}

.content h2{
  color: white;
  font-weight: bold;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.inputs{
  display: flex;
  flex-direction: column;
  margin-right: 50%;
}

input{
  margin-bottom: 2.5rem;
  border: none;
  outline: none;   
  padding: 1rem;
  background: none;
  border-bottom: 2px solid #DADADA;
  width: 25rem;
}

.log-in{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.25rem;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 50px;
  background: blue;
  margin-left: 20%;
  margin-top: 30px;
  cursor: pointer;
}

.log-in h3{
  color: white;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 768px) {
 .content{
  margin-right: 5%;    
 }
 .inputs{
   margin-right: 10%;
 }
 input{
   width: 20rem;
 }
 .log-in{
   width: 11.25rem;
   height: 2.5rem;
 }
}
