:root{
    --nav-height: 60px;
}
body{
    margin: 0;
    background: #111827;
    
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
    
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    height: var(--nav-height);
    padding: 0 20px;
    position: relative;
}
.nav h2{
    color: white;
    margin-left: 70px;
    font-size: 24px;
}
.nav h2 span{
    color: #EAB308;
}
.nav a{
    color: #9CA3AF;
    font-size: 16px;
   
}
.nav a:first-child{
    color: white;
}
.nav i{
    font-size: 1.4rem;
    padding: 0 10px;
    display: none;
    color: #EAB308;
}
.nav i:hover{
    background: white;
}
.nav .links a{
    text-decoration: none;
    padding: 5px;
}
.nav .links a:hover{
    color: #fff;
    background: #000;
}
@media only screen and (max-width: 620px){
    .nav i{
        display: block;
    }
    .links {
        position: absolute;
        display: none;
        flex-direction: column;
        top: var(--nav-height);
        background: black;
        left: 0;
        right: 0;
        border-top: 2px solid #aaa;
        
    }
    .responsive{
        display: flex;
    }
    .links a{
        color: darkgray;
    }
    
}
 
/* skills content */

.container{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
.skills-contents{
    margin-left: 30%;
    color: white;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.skills-contents h1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-right: 40px;
  font-size: 40px;
  margin-top: 0;
}
.skills-contents span{
    color: #EAB308;
}
.skills-contents p{
   margin-right: -90%;
}
img{
    width: 100%;
    margin-bottom: -35%;
}
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .skills-contents {
        margin-left: 7%;
        width: 90%;
        margin-top: 45%;
    }

    .skills-contents h1 {
        font-size: 32px;
        margin-right: 0;
    }

    .skills-contents p {
        margin-right: 0;
        font-size: 12px; 
        line-height: 1.5; 
    }

    .skills-contents img {
        margin-bottom: 0;
    }
}
