*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #111827;
    
}


/* navigation bar */

nav{
    background: black;
    height: 70px;
    width: 100%;
    
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
label span{
    color: #EAB308;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}
nav ul li a{
    color: #9CA3AF;
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active{
    color: white;
    transition: .5s;
}
 
/* skills content */

.container{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
.skills-contents{
    margin-left: 30%;
    color: white;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.skills-contents h1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 40px;
  font-size: 40px;
}
.skills-contents span{
    color: #EAB308;
}
.skills-contents p{
   margin-right: -90%;
}
img{
    width: 100%;
    margin-bottom: -35%;
}