*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #111827;
    
    
}
/* navigation bar */
.fa-sharp{
    color: #EAB308;
}

nav{
    background: black;
    height: 70px;
    width: 100%;
    
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
label span{
    color: #EAB308;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}
nav ul li a{
    color: #9CA3AF;
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active{
    color: white;
    transition: .5s;
}

/* main part */


.container{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
  background-position: left;
    display: flex;
    align-items: center;
    padding: 0 10%;

}
.home-content{
    max-width: 500px;
}
.home-content h1{
    position: relative;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: #EAB308;
    margin-top: -30%;
    margin-bottom: 20px;

}

.home-content h2{
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #F3F4F6;
    
}
.home-content p{
    position: relative;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 5px;
    color: #6B7280;
    line-height: 2;

}
.home-content a{
    border: 1px yellow solid;
    background: #EAB308;
    color: black;
    padding: 10px ;
    border-radius: 17px;
    margin-bottom: 90%;
    
}
.home-content-pic{
    display: flex;
}

img {
float:  left;
position: absolute;
top: 15%;
right: 18%;
width: 20%;
height: 45%;
margin-top: 6%;
margin-bottom: 7%;
border-radius: 15%;
}

