* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
    background: #111827;
}
:root {
    --nav-height: 60px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    height: var(--nav-height);
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav h2 {
    color: white;
    margin-left: 70px;
    font-size: 24px;
}

.nav h2 span {
    color: #EAB308;
}

.nav a {
    color: #9CA3AF;
    font-size: 16px;
    text-transform: capitalize;
    transition: transform 0.3s ease-in-out;
}

.nav a:first-child {
    color: white;
}

.nav i {
    font-size: 1.4rem;
    padding: 0 10px;
    display: none;
    color: #EAB308;
}

.nav i:hover {
    background: white;
}

.nav .links a {
    text-decoration: none;
    padding: 5px;
}

.nav .links a:hover {
    color: #fff;
    background: #000;
    transform: scale(1.2);
}

@media only screen and (max-width: 620px) {
    .nav h2 {
        margin-left: 10px;
        font-size: 20px;
    }

    .nav i {
        display: block;
    }

    .links {
        position: absolute;
        display: none;
        flex-direction: column;
        top: var(--nav-height);
        background: black;
        left: 0;
        right: 0;
        border-top: 2px solid #aaa;
    }

    .responsive {
        display: flex;
        animation: slideDown 1s forwards;
    }

    .links a {
        color: darkgray;
    }

    .links.closing {
        animation: slideUp 1s forwards;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10%);
    }
}

/* About me content */
.container {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.about-me-pic {
    width: 40%;
    float: left;
    margin-top: 15%;
    margin-left: 220px;
    height: 63%;
    padding: 0;
    position: relative;
}

.about-me-pic img {
    display: flex;
    width: 70%;
    margin-top: 40px;
    margin-left: 28px;
    border-radius: 10%;
    transition: transform 0.5s ease-in-out;
    position: relative;
    z-index: 1;
    opacity: 0.4;
}

.about-me-pic::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 1px solid black;
    border-radius: 10%;
    background-image: url('/assets/coding5.jpg'); 
    background-size: cover;
    background-position: center;
    animation: rotateBorder 30s linear infinite;
    z-index: 0;
}

@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.aboutme-content {
    max-width: 80%;
    float: right;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-right: -80%;
    padding: 2%;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.aboutme-content h1 {
    color: #F3F4F6;
    margin-bottom: 40px;
    margin-top: -60px;
    text-decoration: none;
    font-size: 42px;
    animation: slideInLeft 1s ease-in-out;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.aboutme-content span {
    color: #EAB308;
}

.aboutme-content p {
    color: #6B7280;
    font-size: 18px;
    padding: auto;
    margin-bottom: 40px;
    animation: fadeIn 2s ease-in-out;
}

.aboutme-content .fa-brands {
    color: white;
    width: 7%;
    font-size: 20px;
    margin-bottom: -90px;
    transition: transform 0.3s ease-in-out;
}

.aboutme-content .fa-brands:hover {
    transform: scale(1.2);
    color: white;
}



@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        flex-direction: column;
    }

    .about-me-pic {
        display: block;
        max-width: 100%;
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }

    .about-me-pic img {
        max-width:60%;
        margin: 0 auto;
        opacity: 0.1;
        top: 50px;
        
    }

    .about-me-pic::before {
        margin-top: 20px;
        left: 10%;
        max-width: 80%;
        
        
    }

    .aboutme-content {
        max-width: 100%;
        margin-top: 70px;
        
    }

    .aboutme-content h1 {
        font-size: 30px;
        margin-top: 230px;
        
    }

    .aboutme-content p {
        font-size: 14px;
        
    }

    .aboutme-content .fa-brands {
        width: 10%;
        font-size: 19px;
    }
}

/* Footer */
footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: black;
    color: #9CA3AF;
    font-size: 14px;
    position: sticky;
    
    z-index: 100;
    margin-top:7.7rem;
}

footer p {
    margin: 0;
}

footer i {
    color: red;
}