

:root{
    --nav-height: 60px;
}
:root {
	--green: #038144;
	--dark-green: #004e28;
	--secondary: #111111;
	--dark: #000000;
	--links-color: #ffffff;
	--gray: #171717;
}
body {
	overflow: auto;
	margin: 0;
	padding: 0;
	
}

/* Utilities */


.divider {
	border-bottom: 1px solid #ffffff44;
	margin: 15px 0;
}
.green {
	color: var(--green);
}

.align-center {
	text-align: center;
}

.fit-width {
	width: 100%;
}

body{
    margin: 0;
    background: #111827;
    
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
    
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    height: var(--nav-height);
    padding: 0 20px;
	position: sticky;
    top: 0;
    z-index: 100;

}
.nav h2{
    color: white;
    margin-left: 70px;
    font-size: 24px;
}
.nav h2 span{
    color: #EAB308;
}
.nav a{
    color: #9CA3AF;
    font-size: 16px;
   
}
.nav a:first-child{
    color: white;
}
.nav i{
    font-size: 1.4rem;
    padding: 0 10px;
    display: none;
    color: #EAB308;
}
.nav i:hover{
    background: white;
}
.nav .links a{
    text-decoration: none;
    padding: 5px;
}
.nav .links a:hover{
    color: #fff;
    background: #000;
}
@media only screen and (max-width: 620px){
    .nav i{
        display: block;
    }
    .links {
        position: absolute;
        display: none;
        flex-direction: column;
        top: var(--nav-height);
        background: black;
        left: 0;
        right: 0;
        border-top: 2px solid #aaa;
        
    }
    .responsive{
        display: flex;
    }
    .links a{
        color: darkgray;
    }
    
}
 
#app {
	width: 90%;
	margin: auto;
	padding-top: 60px;
}

/* Header */
#brand{
	cursor: pointer;
}
.logo{
	transition: 1s;
}
.logo:hover{
	transform: scaleX(1.1);
	filter: saturate(10);
}

header {
	padding: 0;
	margin: 0;
	width: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}

header nav div {
	display: flex;
	align-items: center;
}


@media only screen and (max-width: 820px) {
	#app,
	header nav {
		width: 98%;
	}
	header nav {
		position: relative;
	}
	header nav .menu {
		display: block;
		cursor: pointer;
	}
	header nav .links {
		position: absolute;
		top: 60px;
		right: 20px;
		flex-direction: column;
		width: 100%;
		max-width: 200px;
		background: var(--secondary);
		padding: 0;
		transition: 1s;
		overflow: hidden;
		transform: scaleY(0);
	}
	header:hover nav .links {
		transform: scaleY(1);
	}
	header nav .links a {
		padding: 15px 20px;
		width: 100%;
	}

	header nav .links a:hover {
		background: var(--dark-green);
		color: #fff;
		width: 100%;
	}
}



/* debugging */
#app{
    color: white;
}
.heading h1 span{
    color: #EAB308;
}



/* My Skills */

.my-skills {
	display: flex;
	flex-wrap: wrap;
	padding: 30px 10px;
	justify-content: center;
}

.my-skills .skill-container {
	width: 24%;
	padding: 5px;
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1020px) {
	.skills-intro p {
		text-align: justify !important;
	}
	.my-skills .skill-container {
		width: 33%;
	}
}
@media only screen and (max-width: 730px) {
	.my-skills .skill-container {
		width: 49%;
	}
}
@media only screen and (max-width: 600px) {
	.my-skills .skill-container {
		width: 80%;
	}
}

.my-skills .skill-container .skill {
	display: flex;
	align-items: center;
	flex: 1;
	padding: 10px 20px;
	padding-top: 30px;
	border-bottom: 3px solid var(--green);
	border-radius: 0 0 20px 20px;
}
.skill .info {
	flex: 1;
	padding: 10px;
}
.skill img {
	padding: 5px;
	width: 60px;
}
.skill .info .progress {
	height: 10px;
	border: 1px solid var(--green);
	width: 90%;
	margin: 10px 0;
}
.skill .info .progress .inside {
	height: 100%;
	width: 86%;
	background: var(--green);
}

